<!DOCTYPE html>
<html>

  {% include head.html %}

  <!-- <body class="home" style="background-image: url(../assets/images/bg2.gif);
    background-size: cover;"> -->
  <body class="home">
    <div>
      <header class="clearfix">
        <div class="container">
          <h1 class="titleG">{{ site.title }} <img src="/assets/images/bg2.gif"></h1>
          <div id="summary">
            <p>{{ site.description }}</p>
          </div>
          <nav id="primary-nav">

            <ul>
              {% for page in site.pages %}
                {% if page.title %}
                <li>
                  <a href="{{ page.url | prepend: site.baseurl }}">
                    {{ page.title }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
            <ul>
                <li class="contact">
                  <a href="mailto:gise11e@me.com">CONTACT</a>
                </li>
            </ul>
          </nav>
        </div>
      </header>

      <div id="container mx-auto px-2 py-2">
        {% for post in site.posts %}
          {% include post_block.html %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
