---
layout: default
---
<script type="text/javascript">

 var projects = document.querySelectorAll('#projects .project-details');
   for (i=0; i < projects.length; i++){
   projects[i].onclick(function(){
     this.className + " hover";
   });
 }
 //
 // mobile.callback  = function(){
 //   className += "hover";
 //   }
 // }


 </script>
<body class="projectsC">
<div class="container">
  <nav class="projectsNav">
      <a href="{{site.baseurl}}">HOME</a>
  </nav>
<div id="projects">
  <div class="row">
    {% for project in site.projects %}
    <div class="project column" style="background-image:url(/assets/images/{{project.image}})">
      <div class="project-details">
          <h4 class="projectTitles">{{project.title}}</h4>
          <div class="project-description">
            {{project.content}}
            <div class="projectLink">
              <a onclick="window.open(this.href);return false;" href="{{project.gurl}}">LAUNCH</a>
            </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</body>
